/*my-socnet-style.css */
/* Own stylesheet for SocNet */
#container {
  font-family: Helvetica, Geneva, Arial, sans-serif;
  padding-left: 20px;
  background-color: #FFFFFF; /* beige */
  font-color: #2A2929; /* dark grey */
  margin: 10px;
}
a:link{
font-size: 120%;
text-decoration: none;
 }
a:hover {
color: #cd7f32;
}
h1 {
color: #d69544;
font-size: 200%;
margin: 20px;
}
form {
border: 2px solid;
border-color: #d69544;
border-radius: 10px;
overflow: hidden;
margin: 5px;
font-size: 120%;
}
label {
font-size: 110%;
padding: 5px;
text-align: left;
margin: 5px;
}
.inputs {
padding: 5px;
text-align: left;
margin: 5px;
}